:root {
  /* OLD */
  --nightjewels: #221e22;
  /* --fuschia: #d81e5b; */
  /* --mustard: #eca72c; */
  
  /* NEW */

  --coral: #fd7f6f;
  --coral3: 253, 127, 111;
  --lilac: #bfb8ee;
  --lilac3: 191, 184, 238;
  --blau: #6780d6;
  --blau3: 103, 128, 214;
  --candyfloss: #f6b4b1;
  --candyfloss3: 246, 180, 177;
  --lime: #e4e472;
  --lime3: 228, 228, 114;
  --indigo: #3c59bd;
  --indigo3: 60, 89, 189;
}

/* body {
  background-color: var(--blue);
} */

* {
/* font-family: 'Spartan', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  color: var(--nightjewels);
  box-sizing: border-box;
}

/* colors:
old
MOUTARDE
color: #eca72c;

HOTPINK
color: #d81e5b

CHARCOAL
color: #221e22;

new
CORAL
HTML/HEX code:	#fd7f6f	
RGB code:	rgb(253, 127, 111)

PURPLE
HTML/HEX code:	#bfb8ee	
RGB code:	rgb(191, 184, 238)

BLUE
HTML/HEX code:	#6780d6	
RGB code:	rgb(103, 128, 214)

LIGHT PINK
HTML/HEX code:	#f6b4b1	
RGB code:	rgb(246, 180, 177)

LIME
HTML/HEX code:	#e4e472	
RGB code:	rgb(228, 228, 114)
*/


/* Developing first for 420px max with - mobile in portrait mode */

.has-bg-img { 
  /* background: url('/images/homepage-background-small.jpg') center;  */
  background-size: cover; 
  height: 100vh;
  /* width: 100vw; */
  /* background: linear-gradient(to bottom right, var(--lilac), var(--candyfloss)); */
  background: repeating-linear-gradient(
  45deg,
  rgba(var(--candyfloss3), 0.3),
  rgba(var(--candyfloss3), 0.3) 50px,
  rgba(var(--lilac3), 0.3), 50px,
  rgba(var(--lilac3), 0.3) 100px
);
  /* background-color: var(--lilac); */
  /* background-color: var(--lime); */

}


.title {
  /* color: var(--indigo); */
  color: var(--nightjewels);
  font-family: 'Bungee Shade', cursive;
  /* color: linear-gradient(to left, var(--indigo), var(--fuschia)); */
  /* color: linear-gradient(red, yellow); */
  font-size: 8vh;
  text-align: center;
  font-weight: bolder;
  text-shadow: 0.2em -0.2em rgba(var(--lilac3, 0.7)), -0.2em 0.2em rgba(var(--candyfloss3), 0.7);
}

.subtitle {
  /* color: gainsboro; */
  color: var(--coral);
  font-size: 5vh;
  text-align: center;
  font-weight: bold;
  padding: 1em 1em 0em 1em;
}

.hero-body {
  align-items: flex-end !important;
  padding-top: 0px;
  /* background-color: linear-gradient(red, yellow); */

}


.has-text-centered {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: rgba(245, 245, 245, 0.5);
  box-shadow: 0px 0px 4em whitesmoke;
  /* background-color: rgba(var(--lime3), 0.5); */
  display:inline-block;
  border-radius: 5em;
  /* padding: 20px 0px 0px 0px; */
  margin-bottom: 15vh;
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 5s; /* Firefox < 16 */
      -ms-animation: fadein 5s; /* Internet Explorer */
       -o-animation: fadein 5s; /* Opera < 12.1 */
          animation: fadein 5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.hero-head {
  background-color: var(--lilac);
}

.navbar-menu {
  /* background-color: var(--blau) !important;  */
  /* background-color: var(--lilac) !important; */
  background-color: var(--nightjewels)
  /* z-index: 1; */
}

.navbar-brand {
  background-color: var(--nightjewels);
}

.navbar-item {
  font-size: 18px;
  /* color: var(--lime); */
  color: var(--candyfloss);
  /* font-family: 'Spartan', sans-serif; */
  font-weight: bold;
  /* background-color: var(--lilac) !important;  */
  background-color: var(--nightjewels);
  padding: 0.3rem 0.75rem !important;
}

.hide-mob-f {
  display: none;
}

.navbar-item:hover {
  background-color: var(--nightjewels) !important;
  color: var(--lilac) !important;
}

.navbar-dropdown {
  /* background-color: rgba(34, 30, 34, 0.5) !important;   */
  /* background-color: var(--lilac) !important; */
      /* border-bottom: 2px solid white !important; */
  background-color: var(--lilac) !important;
  /* background-color: var(--blau) !important; */
  /* background-color: black !important; */
  /* color: var(--lilac);
  background-color: black; */

}

.burger-line {
  color: var(--candyfloss);
  font-weight: bold;
}

.section {
  min-height: 100vh;
}

.flex-centered {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.aboutheading {
  text-shadow: 0.2em -0.2em rgba(var(--blau3, 0.1)), -0.2em 0.2em rgba(var(--candyfloss3), 0.5);
}



.photo-mob {
  height: 50vh;
  /* width: 70vw; */
  margin: 0 auto;
  display: block;
}

.photo-large {
  height: 80vh;
  padding-top: 30px;
}

.hide-mob {
  display: none !important;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 769px) {
  .col-container > .about-p {
    margin: 10px 0px;
  }
}

@media only screen and (min-width: 1216px) {
  .photo-large {
    padding-top: 0px;
    height: 70vh;
  }

  .col-container {
    padding: 10px 30px;
  }

  .col-container > .about-p {
    margin: 20px 0px;
  }
}


p {
  /* font-family: 'Spartan', sans-serif; */
  /* font-family: 'Questrial', sans-serif; */
  font-size: 18px;
  color: var(--nightjewels);
  margin: 5px 0px;
}

.about-p {
  text-align: justify;
  font-size: 18px;
}

/* .pink {
  color: var(--indigo);
} */

main {
  /* background: var(--candyfloss); */
  background-color: #FFF0F0;
  /* background: var(--lilac); */
}

/* .aboutContainer { */
  /* background-color: rgba(0, 0, 0, 0.3); */
  /* background-color: var(--lilac); */
  /* background-color: rgba(var(--lilac), 0.9); */
  /* min-height: 90vh; */
/* } */

.skillsContainer {
  /* background-color: rgba(0, 0, 0, 0.3); */
  /* width: 100%; */
  padding: 12px 24px 48px 24px;
}

.column {
  min-height: 100vh;
}

.experience {
  text-align: center;
  padding: 0px 5px 0px 10px;
}

.education {
  font-size: 26px;
  text-decoration: underline;
  text-align: center;
  font-weight: bolder;
  /* margin: 20vh 0px 0px 0px;  */
}

.eduitem {
  margin: 25px 0;
  /* font-family: 'Roboto Mono', monospace; */
  text-align: left;
}

a {
  /* font-family: 'Roboto Mono', monospace; */
  color: #e8e9f3;
  /* font-size: 20px; */
}

.inline-anchor {
  /* font-size: 14px; */
  color: var(--indigo);
  font-weight: bold;
}

.inline-anchor:hover {
  /* border-bottom: 2px solid white !important; */
  /* background-color: var(--blau) !important; */
  color: var(--blau);
  font-weight: bold;
}


i {
  color: #e8e9f3;
  padding: 0px 10px 0px 0px;
}

.project-text i {
  color: var(--indigo);
  font-size: 28px;
  padding: 0.2em;
}

.icon-larger:first-child i,
.icon-larger:nth-child(odd) i {
  color: var(--candyfloss);
}

.icon-larger:nth-child(even) i {
  color: var(--lime)
}

.icon-smaller:first-child i,
.icon-smaller:nth-child(odd) i {
  color: var(--indigo);
}

.icon-smaller:nth-child(even) i {
  color: var(--coral)
}


.secheading {
  padding: 10px 0px 30px 0px;
  margin-top: 20px;
  margin-bottom: 2px !important;
}

.projectheading {
  font-size: 6.5vh;
  padding-bottom: 0.8em;
}

.smaller-heading {
  font-size: 5.5vh;
  padding-bottom: 0.8em;
}


footer {
  background-color: var(--blau);
  text-align: right;
}

a.footerlink {
  color:var(--coral);
  font-size: 10px;
}

.courseheading {
  font-weight: bold;
  padding-top: 5px;
  color: var(--indigo);
  text-align: center;
  margin: 0px;
  font-size: larger;
}

.coursedate {
  /* font-size: 20px; */
  /* padding: 5px 0px; */
  color: var(--coral);
  text-align: center;
}

.courseinstitution {
  text-align: center;
  margin-bottom: 40px;
}

/* this was added to the experience paragraphs on desktop */
.justify {
  /* text-align: left; */
  font-size: 20px;
  /* font-family: 'Roboto Mono', monospace; */
  padding: 0px 10px;
}


@media only screen and (min-width: 769px) {
  /* For desktop: */
  h1.title {
    font-size: 58px;
  }
  h2.subtitle {
    padding-top: 1em;
    font-size: 28px;
  }
  div.container.has-text-centered {
    width: 30vw;
    padding: 50px 0px;
    margin-bottom: 0px;
  }
  .hero-body {
    padding: 30vh 0px;
  }
  .hide-mob {
    display: inline-block !important;
    /* padding: 68px 5px; */
  }
  .hide-mob-f {
    display: flex !important;
  }
  .photo-mob {
    display: none;
  }
  .about-p {
    font-size: 18px;
  }
  .secheading {
    font-size: 38px;
  }
}


/* ICONS */

.icons {
  /* font-size: 80px; */
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-top: 30px;
  display: none;
}

.icons-l3 {
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-top: 30px;
}

.icons-default {
  /* font-size: 80px; */
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-top: 30px;
}

.icon {
  /* margin: 60px 80px 30px; */
  margin: 20px 30px 5px;
  /* color: var(--coral); */
}

.icon-div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  /* color: var(--coral); */
  /* margin: 60px 80px; */
}

.icon-larger {
  /* was 60px, maybe what we want for desktop */
  font-size: 40px;
  color: pink;
  /* margin: 10px 10px; */
}

.icon-label-large {
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  /* color: var(--coral); */
}

.icon-label {
  font-size: 14px;
  padding-top: 10px;
  /* color: var(--coral); */
}

/* .icon-div:hover .icon, .icon-div:hover .icon-label {
  color: var(--coral);
} */

.icon-div:hover .icon {
  color: var(--lime);
}

.icon-div:hover .icon-label {
  color: var(--coral);
}

.icon-sub {
  font-size: 20px;
  color: var(--coral);
  text-align: center;
  padding: 10px;
}

.icons-3, .icons-5 {
  display: none;
}

/* Getting icon div to neatly line up */

@media only screen and (min-width: 400px) {
  .icons-default {
    display: none;
  }
  /* make large icons display - two rows of three */
  
  /* make small icons display in 5 rows of three*/
  .icons-3 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 550px) {
  .icons-3 {
    display: none;
  }
  
   /* make small icons display in 3 rows of 5/ */
   .icons-5 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 650px) {
   /* large icons in rows of 3 disappear */
   .icons-l3 {
     display: none;
   }
   /* display large icons in one nowrap row */
   .icons {
     display: flex;
   }
}

@media only screen and (min-width: 769px) {
  /* For desktop: */
  .icon-div {
    font-size: 50px;
  }
  .icon-larger {
    font-size: 70px;
  }
  p.icon-label-large {
    padding-top: 30px;
    font-weight: bolder;
    font-size: 18px;
    color: var(--indigo);
    /* margin-bottom: 5vh; */
  }
  .icon-sub {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 22px;
  }
  .skill-p {
    font-size: 20px;
    text-align: center;
    margin: 5vh 0px;
  }
  .skillsContainer {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media only screen and (min-width: 1100px) {
  .skillsContainer {
    padding-right: 80px;
    padding-left: 80px;
  }
}

/* EXPERIENCE */

/* #experience {
  background-color: rgba(0, 0, 0, 0.3);
} */

/* .card-content, .card-image { */
  /* background-color: rgba(0, 0, 0, 0.3); */
/* } */

.logo {
  /* width: 30%;
  display: block;
  margin: 0 auto;
  padding: 10px; */
  height: 10vh;
  min-width: 10vh;
  padding: 0.3em;
}


.small-heading {
  color: var(--lime);
  font-size: 24px;
  margin: 10px;
}



.about-title {
  margin: 0px !important;
  padding: 0px !important;
  text-align: center;
}

.card-container {
  display: flex;
  flex-flow: row nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}

.card {
  min-height: 75vh;
  max-height: 75vh;
  min-width: 98%;
  margin: 1px 10px 0px 1px;
  background-color: rgba(255, 2555, 255, 0.5);
  border: 2px solid var(--lime);
}

.card-content {
  /* height: 60vh; */
  padding: 0px 12px 12px 12px;
  /* background-color: rgba(0, 0, 0, 0.3); */
}

.exp-heading-container {
  display: flex;
  flex-flow: row nowrap;
  margin: 10px 0px;
}

.exp-heading-img {
  flex-grow: 1;
}

.exp-heading-text {
  flex-grow: 2;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.media {
  margin-bottom: 0.5em !important;
}

ul, li {
  color: var(--nightjewels);
  font-size: 18px;
}


.swipe-icon {
  height: 5vh;
  margin: 2vh;
  /* margin: 0 auto; */
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .card {
    min-width: 39.5vw;
    max-width: 39.5vw;
  }
  .coursedate {
    margin-bottom: 2px !important;
  }
  .courseheading {
    margin: 0px !important;
  }
  
  .courseinstitution {
    margin-bottom: 20px;
  }
  span {
    color: var(--nightjewels);
    margin-top: 5px;
  }
  .smallest-heading {
    color: var(--coral);
    font-size: 28px;
  }
}


/* PROJECTS CAROUSEL */

.carouselContainer {
  padding: 10px;
  min-height: 70vh;
}

.scene {
  perspective: 600px;
}

.carouselItem {
  margin: 0 auto;

  /* min-height: 80vh; */
}

div.slick-list {
  min-height: 75vh;
  background-color: rgba(255, 255, 255, 0.9);
  max-height: 75vh;
  /* was 85vh - may need adjusting for desktop etc */
}

.slick-prev:before, 
.slick-next:before {
  color: var(--nightjewels);
}

.project {
    /* added for card flip below */
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

/* button.slick-next:before,
button.slick-prev:before {
  font-size: 35px !important;
} */

.project-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 0.8em;
  /* overflow: scroll; */
  /* added for flip */
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;

}

.front {
  /* background: var(--candyfloss) */
}

.back {
  /* background: var(--candyfloss); */
  transform: rotateY( 180deg );
}

.project.is-flipped {
  transform: rotateY(180deg);
}

.project-heading-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  /* position: relative; */
}
.project-heading {
  text-align: center;
  font-size: 26px;
  /* margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0) */
}

.icon-box {
  width: 2em;
  height: 2em;
}
.read-more-icon {
  height: 80%;
  align-self: center;
  /* margin-left: auto; */
  padding: 0.2em;
  /* margin-left: auto; */
  /* margin: auto; */
}
.read-more-icon:hover {
  cursor: pointer;
}

.project-name {
  color: var(--coral);
  font-weight: bold;
  /* font-size: 7vh; */
}

.project-name:hover {
  color: var(--coral);
  font-weight: bold;
}


.project-image {
  /* width: 100%; */
  padding: 10px;
}

.project-text {
  font-size: 16px;
  padding: 0px 20px;
  margin: 5px 0px;
}

.project-text-web {
  display: none;
  font-size: 16px;
  /* font-weight: bold; */
  padding: 10px 20px;
  margin: 5px 0px;
  color: var(--indigo);
  text-align: center;
}

.project-text-mob {
  font-size: 16px;
  padding: 0px 20px;
  margin: 15px 0px;
  text-align: center;
  color: var(--indigo);
}

.yellow {
  color: var(--lime);
  font-weight: bolder;
  text-align: center;
}

.pink {
  color: var(--coral);
  font-weight: bolder;
  text-align: center;
}

.centered {
  text-align: center;
}

.mini-icon {
  font-size: 16px;
}

.show-tablet {
  display: none !important;
}

/* on medium screens/tablets */

@media only screen and (min-width: 500px) {
  .image-mob {
    display: none !important; 
  }

  .hide-mob {
    display: block !important;
  }
  .show-tablet {
    display: block !important;
  }
}

/* On a desktop */
@media only screen and (min-width: 768px) {
  .carouselContainer {
    padding: 0px 100px 100px 100px;
    /* background-color: hotpink; */
  }
  .project-text-web {
    display: block;
  }
  .project-text-mob {
    display: none;
  }
  .mob-only {
    display: none;
  }
  
}

.widescreen-only {
  display: none;
}

/* On a widescreen */
@media only screen and (min-width: 1216px) {
  .widescreen-only {
    display: block;
  }
  .hide-widescreen {
    display: none !important;
  }
  .front {
    display: flex;
    flex-flow: row-reverse nowrap;
  }
  .project-c1 {
    /* flex-grow: 1; */
    width: 30%;
    min-height: 70vh;
    max-height: 70vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* justify-content: center; */
  }
  .project-c2 {
    /* flex-grow: 2; */
    width: 70%;
    min-height: 70vh;
    max-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .project-heading-container {
    margin-bottom: 5vh;
  }
  .project-text-web {
    text-align: center;
  }
  .project-image {
    min-height: 65vh;
    max-height: 65vh;
  }
}

/* contact */

.contact-box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 10px;
}



.contact-link {
  color: var(--indigo);
  font-size: 16px;
  font-weight: bold;
}

.contact-icon {
  color: var(--nightjewels);
  font-size: 28px;
  display: block !important;
  text-align: center;
}

.contact-item {
  margin: 15px 10px;
}

.contact-link:hover {
  color: var(--coral);
}

@media only screen and (min-width: 769px) {
  .contact-box {
    padding-left: 22vw;
    align-items: flex-start;
  }
  .contact-item {
    margin: 20px;
  }
  .contact-icon {
    display: inline !important;
  }
  .contact-link {
    font-size: 20px;
  }
}
.sectionB {
  background-color: #FFF0F0;
}

.sectionA {
  background-color: var(--lilac);
}